    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #68b19e6c;  
    color: #222;
            line-height: 1.6;
            padding-top: 20px;
    }
    .container {
        
    width: 65%;
    margin-left: 250px;
    background: #fff;
        padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px #2b301ffb;
            margin-top: 30px;
    }
    .headerText {
        text-align: left;
            margin-bottom: 30px;
            margin-left: 10px;
    }


    .headerText h1 {
        font-size: 30px;
    color: #222;
    
    
    }

    .headerText h4 { color: #222;
    font-weight: lighter;
    
    }

    .headerText hr {
    margin: 15px 0;
        border-color: 2px #b2adad;
    }

    #pf {
    font-size: 20px;
    color: #222; border-bottom: 2px #b2adad;
    margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 2px solid #ccc;
        padding-left: 5px ;
    inline-size: 150px;
    text-align: left;
        background-color: #257a75;
        color: #ffffff;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 20px;
        padding-top: 5px;
    }

    #para {
    margin-top: 10px;
    color: #222;
        text-align: justify;
        padding-left: 5px;
        padding-right: 10px;
    }
    .main {
        display: flex;
    flex-wrap: wrap;
    gap: 70px;
    margin-left: 10px;
    
    }

    .left {
    flex: 1 1 45%;
        padding: 20px;
    
    

    }
    .right{  
        flex: 1 1 45%;
    padding: 20px;
    
    }
    #SK {
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
    inline-size: 300px;
    text-align: left;
    background-color: #dddce8;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 20px;
        padding-left: 2px;
        
        background-color: #257a75;
        color: #ffffff;
        padding-top: 5px;
    }
    #SK2 {
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
    inline-size: 300px;
    text-align: left;
    background-color: #dddce8;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 20px;
        padding-left: 2px;
        background-color:#257a75;
        color: #ffffff;
        padding-top: 5px;

    }
    #SK1 {
        margin-top: 30px;
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-bottom: 10px;
    inline-size: 300px;
    text-align: left;
    background-color: #dddce8;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 20px;
        padding-left: 2px;
    
        background-color: #257a75;
        color: #ffffff;
        padding-top: 5px;
        
    }


    .left ul {
    margin-left: 20px;
    }
    .right ul {
        margin-left: 20px;
        line-height: 30px;
    }

    .left ul li{
    margin-bottom: 10px;

    }
    .right ul li{
        margin-bottom: 10px;
    }
    h3 {
    margin-top: 15px; 
    
    }
    p {
    color: #222;
    margin-top: 5px;
    padding-right: 10px;
    }
    .xyz{
        margin-top: 20px;
    }
    .xyz1{
        margin-top: 55px;
    }
