body {
  background: url('../images/15287a85-819e-4a85-b345-43bb0c54d0a4.png');
  background-size: cover;

}

h1{
    color:rgb(39, 22, 22) ;
    text-align: center
}
.card {
  background-color: #e8f5e9; 
    border: 2px solid #8dd872;
    box-shadow: 0 4px 8px rgba(55, 61, 65, 0.5);
    border-radius: 10px;
}

table {
  table-layout: fixed; 
 

}
 td {
  text-align: center;
}