body {
    background-image: url('/images/ps5-controller-with-astro-bots-3y8zzv53pevxsoi3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}