* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  background-color: #797373;
   
}

.container {
    max-width: 900px;
    height: 1050PX;
    margin:  auto;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-style:solid;

}

.header {
    text-align: center;
    margin-bottom: 20px;

}

.doc-number {
    margin-top: 30px;
    position: absolute;  
    font-weight: bold;
    margin-left: 40px ;
}



.info-label {
    font-weight: bold;
    width: 220px;   
}   
.marks-table {
margin-top: 40px;
    text-align: center;
 width: 840px;
 height: 300px;
    border-collapse: collapse;
    font-size: 12px;
    border-color: #000000;
}


.signature-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.marks-table{
    margin-bottom: 200PX;
}
.subject-header{
    text-align: left;
}
.subject-col{
    text-align: left;
    padding-left: 5px;
}
.info-row{
    margin-top: 10px;
}
.board-name{
    margin-top: 5px;
}
.exam-info{
    margin-top: 5px;
}
.statement-title{
    margin-top: 20px;
}

