body{
    background-color: rgb(241, 241, 231);
  
}
.container {
    text-align: center; 
    background: #ffffff;
     max-width: 1000px;
      margin: auto;
       height: 1450px;
   border-style:solid;
   padding: 2px;
   font-family: 'Times New Roman', Times, serif;
    } 

table{
  margin: 0 auto;
  width: 900px;
  height: 360px;
  border-collapse: collapse;
  margin-top: 20px;

}
.colour{
    background-color: rgb(245, 249, 245);
}
img{
    border-radius: 30%;
    height: 200px;
}
#serial{
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}

.info{
    text-decoration: dotted ;   
    text-align: left;
    margin: 0 auto; 
    block-size: 200px;
  width: 900px;

}
.footer{
    margin-right: 00px;

}


#size{
    width:0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 10px ;
    text-align: center;
    line-break:initial ;
}
.colsize {
  width: 1%;
  white-space: nowrap;
}

.footer{
    margin-right: 100px;
}

    .OBSIZE{
      width: 100PX;
  white-space: nowrap;
}
.note{
    margin-right: 640px;
}
.highlight {
display: inline-block;
  background-color:  rgb(245, 249, 245);;   
  border: 2px solid #000000;  
 padding-left: 20px;
 padding-bottom: 5px;
 padding-top: 5px;
 padding-right: 20px;  
 margin-left: 10px;  
 margin-bottom: 130px;
 
 
 
} 
.inline-container {
  display: flex;
  align-items: center;
  gap: 20px;          
  margin-left: 350px;
}

.inline-container p {
  margin: 0;       

}
.signatures {
  margin-top: 60px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.signature-row {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 10px;
  gap: 10px;
}

.date-group {
  text-align: left; 
  margin-top: 50px;
  text-align: center;
}

.signs {
  text-align: right;
  line-height: 1.5;
  margin-right: 20px;
  margin-top: 10px;
}

.signs p {
  margin: 0;
  text-decoration: overline;
}

.note {
  text-align: left;
  margin-top: 0px;
  margin-right: 10px;
 
}
.sig-line{
   font-family: 'Times New Roman', Times, serif;
}
.ALG{
    text-align: left;
}