      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

      }

      body {
        margin-top: 100px;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container {
        min-width: 800px;
        max-width: 800px;
        min-height: 500px;
        padding: 16px;
        background:#bf93a8;
      }

      .m-nav header {
        background: #99d999;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
      }

      .flex-container {
        margin-top: 8px;
        display: flex;
        gap: 24px;
      }

      .flex-container > * {
        border: 1px solid #a89797;
        min-height: 350px;
      }

      .flex-container aside {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .flex-container article {
        flex-grow: 1;
        display: flex;
        gap: 16px;
        padding: 0 16px;
        background: #ba4d4d;
      }

      .flex-container article > * {
        flex-grow: 1;
        min-width: 80px;
        max-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50%;
        background: #e9ceba;
        
      }

      .flex-container aside {
        min-width: 240px;
         background: #ad8b40;
      }

      .s-img {
        position: relative;
      }

      .s-text {
        position: absolute;
        bottom: 110%;
        text-transform: capitalize;
        
      }
      .m-footer {
        margin-top: 8px;
        background:#99d999;
        padding: 16px 0;
        text-align: center;
      }
      h1{
        text-align: center;
        margin-right: 10px;

      }