body {
    font-family: "Times New Roman", serif;
    background-color: #ffffff;
    margin: 30px;
}

.container {
    border: 1px solid black;
    padding: 20px;
    width: 800px;
    margin: auto;
    background-color: white;
}

h1, h2, h3 {
    text-align: center;

}

h1 {
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

table {
    background-color: aqua;
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    
}

.info td {
    border: none;
    padding: 4px;
    font-size: 14px;
}

.marks th, .marks td {
    border: 1px solid black;
    padding: 5px;
    font-size: 13px;
    text-align: center;
}

/* Remove horizontal row borders for subjects */
.marks tr td:nth-child(2) {
    border-left: none;
    border-right: none;
}

.footer {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}

.signatures {
    margin-top: 30px;
    font-size: 14px;
}

.note {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
}
.signatures{
    margin-left: 200px;
}
