
.container{
    display: flex;
   border-color: black;
   border-style:  solid;
     background-color: rgb(255, 255, 255);
     justify-content: space-evenly;
     height: 500px;
     width: 100%;
     align-items: center;
     flex-wrap: wrap;
     row-gap: 10px;
     column-gap: 20px;
}
.box{
    width: 150px;
    height: 150px;
 border-radius: 20px;
 text-align: center;
 font-size: 120px;
 
}

#box1{
    background-color: purple  ;
    align-self: start;

}
#box2{
    background-color: blue;
 
}
#box3{
    background-color: red;
       align-self: start;   
}
#box4{
  background-color: rgb(140, 122, 122);
       align-self: start;   
}
